* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto, sans-serif;
}

.title {
  font-size: 61px;
  line-height: 73px;
  color: #000000;
}

.text {
  font-size: 16px;
  line-height: 24px;
  color: #212529;
}

.button {
  padding: 11px 32px 12px;
  background: #000000;
  border: 2px solid #000000;
  border-radius: 25px;
  color: white;
}
